<section id="prihlaska" class="section apply">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <h2 class="apply__title section__title">Rozhodnuté? Prihlás sa! Najneskôr do {{ deadline }}</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-6">
      <p>Finálna skupina bude pozostávať z max 18 účastníkov, starších ako 18 rokov.</p>
      <p> 
        <strong>Termín kurzu</strong> je {{ altdate }} a {{ date }}.
      </p>
      <div class="pricebox">
        <p class="no-margin">Poplatok za kurz je</p>
        <p class="pricebox__price">{{ price }} &euro; ({{ price2 }} &euro;)</p>
        <p>
          Ak sa prihlásiš do 17.10.2024, cena za kurz je 160 € <br>
          Ak sa prihlásiš od 18.10. do 22.11.2024, cena za kurz je 180 €
        </p>

        <p>Ak je cena pre teba jedinou prekážkou v prihlásení, <a href="https://plusko.net/dotacia/">požiadaj Plusko o dotáciu</a>.</p>

        <p>V cene kurzu je:</p>
        <p>
          <ul>
            <li>zapožičanie snežníc</li>
            <li>nákup a doprava materiálu potrebného pre kurz</li>
            <li>prenájom lokality na prípravný víkend</li>
            <li>časť jedla na prípravnom víkende</li>
          </ul>
        </p>
        <p>Čo nie je v cene:</p>
        <p>
          <ul>
            <li>jedlo na putovnej časti</li>
            <li>časť jedla na prípravnom víkende</li>
            <li>doprava</li>
            <li>individuálne poistenie</li>
          </ul>
        </p>
        <p>Inštruktori, ktorí ťa budú kurzom sprevádzať, sú ako všetci v Plusku dobrovoľníci. Kurz je neziskový a poplatok nám pokrýva náklady.</p>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <p>Ak sa chceš prihlásiť:</p>
      <ol>
        <li>Prihlasovanie je uzavreté. Ak máš o kurz záujem, nechaj nám svoj email a ozveme sa ti, keď spustíme prihlasovanie na ďalší ročník.</li>
      </ol>
      <a href="{{ formlink }}" title="Záujem o kurz (nové okno)" class="button large expanded apply__cta" target="_blank">Nechaj nám svoj email</a>
      <p>Ak ti napadne akákoľvek otázka, ozvi sa na <strong>{{ contactmail }}</strong> alebo volaj Freshovi na {{ contactphone }}.</p>
    </div>
  </div>
</section>